{% extends "home/home.html" %}

{% block content %}

<div id="why1">
  <div class="container">

    <h2 class="animated">为什么选择我们</h2>

    <div class="title1 animated">因为专注，所以专业。<br>专注学习，我们是认真的！</div>
    <br><br>

    <div class="row">
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="{{ url_for('static',filename='base/images/why1.png') }}" alt="" class="img1 img-responsive">
                <img src="{{ url_for('static',filename='base/images/why1_hover.png') }}" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">神奇的体验</div>
                <div class="txt2">为您展示最新的复习资料</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="{{ url_for('static',filename='base/images/why2.png') }}" alt="" class="img1 img-responsive">
                <img src="{{ url_for('static',filename='base/images/why2_hover.png') }}" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">分享文件</div>
                <div class="txt2">交换资源，分享资源。帮助这里的这里朋友，或者是获得帮助。</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="{{ url_for('static',filename='base/images/why3.png') }}" alt="" class="img1 img-responsive">
                <img src="{{ url_for('static',filename='base/images/why3_hover.png') }}" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">发现惊喜</div>
                <div class="txt2">只要你仔细寻找，这里的一切都是都由你和其他成员产生和决定。</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="{{ url_for('static',filename='base/images/why4.png') }}" alt="" class="img1 img-responsive">
                <img src="{{ url_for('static',filename='base/images/why4_hover.png') }}" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">优质的服务</div>
                <div class="txt2">为您提供最优质的预览体验。</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="company1">
  <div class="container">

    <h2 class="animated">关于我们</h2>
    <div style="padding: 30px">
      <div class="title1 animated">
        倾力打造的在线实用技能学习平台，主要为学习者提供海量、优质的课程，课程结构严谨，用户可以根据自身的学习程度，自主安排学习进度。我们的宗旨是，为编程学习者提供一站式服务，培养用户的编程思维。
      </div>
    </div>

  </div>
</div>

{% endblock %}
