{% extends "home/home.html" %} {% block content %}
<div>
    <img src="{{url_for('static',filename='base/images/about_banner.jpg')}}">
</div>
<div class="breadcrumbs1_wrapper">
    <div class="container">
        <div class="breadcrumbs1"><a href="/">首页</a><span>/</span>课程详情</div>
    </div>
</div>

<!--课程内容-->
<div id="team1">
    <div class="container">
        <h2 class="animated">{{scenic.title}} {% if count %}
            <button class="collect-button">已收藏</button> {% else %}
            <button class="collect-button">收藏</button> {% endif %}
        </h2>
        <div>
            <video width="335" height="240" controls>
                <source src="{{ video_url }}" type="video/mp4">
              您的浏览器不支持Video标签。
              </video>
            <embed width="800" height="400" src="{{ pdf_url }}"></embed>
        </div>
        <div class="title1">{{scenic.content|safe}}


        </div>
    </div>
</div>
<!--攻略列表-->

<div class="container" style="padding-bottom: 100px">
    <h2 class="animated">{{scenic.title}}学习攻略</h2>
    <div class="row">
        {% if not scenic.travels %}
        <div class="title1">暂无攻略</div>
        {% else %}
        <div class="col-sm-12 animated undefined visible">
            <ul class="ul2" style="padding-left: 150px">
                {% for v in scenic.travels %}
                <li class="form-groupe">
                    <a href="{{url_for('home.travels',id=v.id)}}">{{ v.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<script src="{{ url_for('static',filename='layer/layer.js') }}"></script>
<script>
    $(document).ready(function() {
        $(".collect-button").click(function() {
            $.ajax({ // 使用Ajax异步提交
                url: "{{ url_for('home.collect_add') }}", // 提交到的URL
                type: "GET", // 提交方式为GET
                data: {
                    scenic_id: "{{ scenic.id }}"
                }, // 传递参数
                dataType: "json", // 数据类型为json
                success: function(res) { // 操作成功后执行逻辑
                    if (res.ok == 1) {
                        layer.msg("收藏成功！", {
                            icon: 1,
                            time: 2000
                        }); // 显示弹出层信息
                        $(".collect-button").empty(); // 清空按钮区文字
                        $(".collect-button").append("已收藏"); // 填充文字
                    } else {
                        layer.msg("您已收藏", {
                            icon: 2,
                            time: 2000
                        }); // 提示已收藏
                    }
                }
            })

        })
    });
</script>

{% endblock %}