{% extends 'admin/admin.html' %} {% block content %}
<!--内容-->
<section class="content-header">
    <h1>学习宝管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">控制面板</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">开发人员简介</h3>
                </div>
                <div class="box-body">
                    <p>
                        <b>学习宝</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">特色版块</h3>
                </div>
                <div class="box-body">
                    <p><b>视频课程</b></p>
                    精品在线视频课
                    <p><b>专属于个人的云空间及共享空间</b></p>
                    xxxxxxxxxx
                    <p><b>社区</b></p>
                    社区是用户交流的重要部分，可以进行技术讨论、下载相关资源以及灌水交流等。互动交流时，可以上传图片、附件、投票支持或投票反对，更可以@好友一起玩耍~
                </div>
            </div>
        </div>
    </div>
</section>
<!--内容-->
{% endblock %} {% block js %}
<script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
<script>
    var myChart = echarts.init(document.getElementById('meminfo'));
    option = {
        backgroundColor: "white",
        tooltip: {
            formatter: "{a} <br/>{b} : {c}%"
        },
        toolbox: {
            feature: {
                restore: {},
                saveAsImage: {}
            }
        },
        series: [{
            name: '内存使用率',
            type: 'gauge',
            detail: {
                formatter: '{value}%'
            },
            data: [{
                value: 50,
                name: '内存使用率'
            }]
        }]
    };
    setInterval(function() {
        option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
        myChart.setOption(option, true);
    }, 2000);
</script>
<script>
    $(document).ready(function() {
        $("#g-1").addClass("active");
        $("#g-1-1").addClass("active");
    });
</script>
{% endblock %}